POSTGRES_URL="postgres://postgres.aladlctfzcttbdpgyeaa:jcSxAHzMudkU65Ne@aws-0-us-east-1.pooler.supabase.com:6543/postgres?sslmode=require&supa=base-pooler.x"
POSTGRES_USER="postgres"
POSTGRES_HOST="db.aladlctfzcttbdpgyeaa.supabase.co"
SUPABASE_JWT_SECRET="bIsRTz97GKpUXI0DutwtqM4vKYwafNPWRNavG1OHvqAYq/YJisd83sYOptPxXWb0ZH+fL8ZhvT+l3dZE0aW4ww=="
NEXT_PUBLIC_SUPABASE_ANON_KEY="eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImFsYWRsY3RmemN0dGJkcGd5ZWFhIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NDgyNDUzNDksImV4cCI6MjA2MzgyMTM0OX0.fLwhW2jcCJewI0mwM4H_83pUqk1ekY7uVy1bJZBS-RU"
POSTGRES_PRISMA_URL="postgres://postgres.aladlctfzcttbdpgyeaa:jcSxAHzMudkU65Ne@aws-0-us-east-1.pooler.supabase.com:6543/postgres?sslmode=require&supa=base-pooler.x"
POSTGRES_PASSWORD="jcSxAHzMudkU65Ne"
POSTGRES_DATABASE="postgres"
SUPABASE_URL="https://aladlctfzcttbdpgyeaa.supabase.co"
SUPABASE_ANON_KEY="eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImFsYWRsY3RmemN0dGJkcGd5ZWFhIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NDgyNDUzNDksImV4cCI6MjA2MzgyMTM0OX0.fLwhW2jcCJewI0mwM4H_83pUqk1ekY7uVy1bJZBS-RU"
NEXT_PUBLIC_SUPABASE_URL="https://aladlctfzcttbdpgyeaa.supabase.co"
SUPABASE_SERVICE_ROLE_KEY="eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImFsYWRsY3RmemN0dGJkcGd5ZWFhIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc0ODI0NTM0OSwiZXhwIjoyMDYzODIxMzQ5fQ.79uU0fnatyvpq3eEqrBeBhLHZ2s_pYqHScgSuJm7LHk"
POSTGRES_URL_NON_POOLING="postgres://postgres.aladlctfzcttbdpgyeaa:jcSxAHzMudkU65Ne@aws-0-us-east-1.pooler.supabase.com:5432/postgres?sslmode=require"